#ensamble-fotos{
    position: relative;
    display: block;
    /* margin:auto; */
    min-height: 50vh; 
}
#ensamble-fotos img{
    position: absolute;
    width: 100%;
    transition: transform  1.3s cubic-bezier(.19,.48,.09,1) .2s, opacity  .2s ease-out;
    top: 0%;
}
main .tucu>div, main .tucu>header{
    width: 50%;
}

#materiales{
    margin-top: 15%;
    display: flex;
}
#materiales>div{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
#materiales>div>div{
    width: 38px;
    height: 38px;
    border-radius: 55px;
    display: block;
    margin-right: 8%;
    cursor: pointer;
    transition: .2s;
    position: relative;
}
#materiales img ~ p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    color: #313131;
    transform: translateX(-50%);
    opacity: 0;
    transition: .2s;
}
#materiales img:hover ~ p{
    opacity: 1;
}
#materiales>div>div img{
    width: 100%;
}
#materiales>div>div:hover{
    transform: scale(1.09);

}
